hero-body {
  height: 10px;
}

.connect-box {
  margin-top: 70px;
}


.profile {
  border-radius: 5%;
  text-align: center;
  max-width: 500px;
  max-height: 584px;
  /* border: 6px solid; */
  /* border-color: rgb(218, 213, 230); */
  
}

.is-vcentered {
  margin-top: 15px;
  padding: 25px;
  margin: 25px;
}

.text-col {
  position: relative;
  bottom: 40px;
}




