.navbar-expand-lg {
    border-bottom: solid 1px #addad7;
    padding-bottom: 0;
}

#picture {
    float: left;
    width: 200px;
    margin: 0 20px 10px 0;
}

.footer {
    position: fixed;
    background: #f8f9fa;
    width: 100%;
    height: 60px;
    bottom: 0;
    padding-top: 20px;
    border-top: solid 1px #addad7;
}

#logo {
    font-size: 40px;
    font-weight: bolder;
    color: #81b6b2;
}

.nav-link, .dropdown-toggle-split {
    background: #f8f9fa;
    border: #6c757d;
    color: #cad1d6;
    font-size: 17px;
}

hr {
    border-color: #addad7;
}

.btn-group > a:hover {
    background-color:#addad7;
}

.btn-group > button:hover {
    background-color:#addad7;
}

/* .btn.btn-success.active.focus {
    background-color:#addad7;
} */

h2 {
    color: #818d97;
    font-size: 25px;
}

.links {
    color: #818d97;
}

div.container {
    height: 70px;
}

.link-style {
    text-decoration: none;
    color: #81b6b2;
}