footer {
  /* width: 100%;
  margin-top: 10%; */
  position: absolute;
  bottom: -520px;
  width: 100%;
  height: 2rem;
}

.footer-center {
  text-align: center;
  /* font-family: 'Source Sans Pro', sans-serif; */
}