.navbar {
  padding:20px;
}

.navbar-brand {
  color: #4a4a4a;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-item {
  color: #4a4a4a;
  font-size: 20px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;

}

.nav-link {
  text-decoration: none;
  font-family: 'Rancho', cursive;
  font-size: 45px;
}

/* <Container classNamev nav-bar">
      <div classNamevbar-brand">
        <Link to="/" classNamecation.pathname === "/" ? "nav-item active" : "nav-item"}>
          Melissa Elie
        </Link>
      </div>
      <div classNamev-item right">
        <Link
          to="/about"
          classNamecation.pathname === "/about" ? "nav-link active" : "nav-link"}
        >
          About
        </Link>
      </div>
      <div classNamev-item right">
        <Link
          to="/portfolio"
          classNamecation.pathname === "/portfolio" ? "nav-link active" : "nav-link"}
        >
          Portfolio
        </Link>
      </div>
      <div classNamev-item right">
        <Link
          to="/contact"
          classNamecation.pathname === "/contact" ? "nav-link active" : "nav-link"}
        >
          Contact
        </Link>
      </div>

    </Container> */