.nav {
  display: flex;
  min-height: 56px;
  align-items: center;
}

.nav-item {
  flex: 1;
}

.left {
  text-align: left;
}

.right {
  text-align: right;

}

.nav-link {
  text-decoration: none;
  font-family: 'Rancho', cursive;
  font-size: 45px;
}